@media only screen and (min-width: 1441px){

    p{
        font-size: 22px;
    }
    .banner-wrapper{
        background-position: 50% 15%;
    }
    .banner-wrapper::after{
        background-position: center 159%;
    }

    .banner-wrapper{
        background-image: url("../img/Banners-principales/banner-grandes/banner-principal.jpg");
    }

    .banner-nosotros{
        background-image: url("../img/Banners-principales/banner-grandes/banner-nosotros.jpg");
    }
    .banner-historia{
        background-image: url("../img/Banners-principales/banner-grandes/banner-historia.jpg");
    }

    .banner-noticias{
        background-image: url("../img/Banners-principales/banner-grandes/banner-noticia.jpg");
    }

    .banner-galeria{
        background-image: url("../img/Banners-principales/banner-grandes/banner-galeria.jpg");
    }
    .banner-inscripcion{
        background-image: url("../img/Banners-principales/banner-grandes/banner-inscripcion.jpg");
        background-position: 50% -50px;
    }

    .banner-inscripcion:after{
        background-position: center 173%;
    }
    .contact-information {
        padding: 7em 0 7em 0;
    }

    .logotipo{
        left: 49%;
        bottom: 75px;
    }
    .overlay-historia h2{
        top: 43%;
        left: 33%;
        font-size: 11vh !important;
    }


}

@media(min-width:768px){
    #thumbnail-slider ul li{
        width: 470px !important;
        height: 330px !important;
    }

    .modal-content{
        background-color: #333;
    }

    .modal-dialog{
        width: 100%;
        margin: 90px auto;
    }

    .modal-header{
        border-bottom: 1px solid #333;
    }
    .modal-footer{
        border-top: 1px solid #333;
    }

    .btn-secondary,
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active{
        background-color: #333;
        color: #fff;
        outline: 0cm;
    }
}

@media(max-width:568px) {
    .banner{
    background-attachment: scroll;
    }
}